
        .exp-history a {
          color: rgb(83, 0, 128);
      }
      .isop-filter li.active a {
          background: rgb(83, 0, 128);
      }
      .isop-filter li a:hover {
          background: rgb(83, 0, 128);
          color: #fff;
      }
      .progress-bar {
          background: rgb(83, 0, 128);
      }

      .side-bar .personal-info li a {
          color: rgb(83, 0, 128);
      }
      .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
          color: #fff;
          background-color: rgb(83, 0, 128);
      }
      .portfolio-filter li:hover {
          background: rgb(83, 0, 128);
          color: #fff;
      }
      .portfolio-filter li.active {
          background: rgb(83, 0, 128);
          color: #fff;
          border: 1px solid rgb(83, 0, 128);
      }
      .accordion-style-2 .panel-default > .panel-heading a {
          color: rgb(83, 0, 128);
      }
      .accordion-style-2 .panel-default > .panel-heading .panel-title a:before {
          background: rgb(83, 0, 128);
          border-color: rgb(83, 0, 128);
      }
      .pricing-table.style-1 .cta-button .btn {
          background: rgb(83, 0, 128);
          color: #fff;
          
      }

